customtkinter>=5.2.0
requests>=2.28.0
pystray>=0.19.0
Pillow>=9.0.0
matplotlib>=3.9.0
keyboard>=0.13.5

#pyinstaller --windowed --icon=deepseek-balance-monitor.ico --name "DeepSeekBalanceMonitor v2.0" main.py